body {
	font-family: 'Questrial', Helvetica, Arial, Lucida, sans-serif;
}

.border_bottom {
	padding-bottom: 0.5em;
	border-bottom: solid 2px rgba(12, 30, 62, .125);
}

.history_page_botom_divider {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDBweCIgdmlld0JveD0iMCAwIDEyODAgMTQwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGZpbGw9IiNmM2Y4ZmYiPjxwYXRoIGQ9Ik0wIDB2MTQwaDEyODBMMCAweiIvPjwvZz48L3N2Zz4=);
	background-size: 100% 100px;
	bottom: 0;
	height: 100px;
	z-index: 1;
}

#history_banner {
	background-blend-mode: screen;
	background-position: 50%!important;
	background-size: cover;
	background-repeat: no-repeat;
}

/* history  */

.history_header {
	font-family: 'Playfair Display', Georgia, "Times New Roman", serif;
	font-size: 34px;
	font-weight: 600;
}

.history_text {
	font-family: 'Questrial', sans-serif;
	line-height: 1.3em;
	color: #103356 !important;
	font-size: 1.2em;
	font-weight: 400;
}

.text_common {
	font-family: 'Questrial', sans-serif;
	line-height: 1.3em;
	color: #fff;
	font-size: 1.2em;
	font-weight: 400;
}

/* team  */

#team{
    padding: 35px 0;
}

.meet_heading{
	font-family: 'Playfair Display',Georgia,"Times New Roman",serif;
    font-size: 34px;
    font-weight: 600;
}

.toShow{
	display: none;
}

.toShow.expandText .toShow{
	display: block;
}